body {
  background-color: rgb(22, 22, 25);
  min-width: 320px;
  min-height: var(--viewport-height);
  line-height: 1;
  word-wrap: break-word;
  overflow-x: hidden;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: var(--viewport-height);
  position: relative;
  z-index: 2;
  overflow: hidden;
}

#main {
  display: flex;
  position: relative;
  max-width: 100%;
  z-index: 1;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: left;
  transition: opacity 1s ease-in-out 0s;
}

.inner {
  position: relative;
  z-index: 1;
  border-radius: inherit;
  padding: 3.625rem 2.875rem;
  max-width: 100%;
  width: 29rem;
}

#me {
  max-width: 250px;
  max-height: 500px;
  border-radius: 50%;
}

.titol {
  color: white;
}

.twitter {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.github {
  margin-right: 10px;
}

.icons {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 25px;
}

.line {
  width: 410px;
  margin-right: 500px;
}

.texto {
  line-height: 25px;
  color: rgb(136, 151, 168);
}

#footer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 250px;
}
