body {
  background: linear-gradient(to top left, #282828, #757575);
  height: 100vh;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.all {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-left: 700px;
  padding-right: 700px;
}

#me {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

#twi {
  width: 1em;
  height: 1em;
}

.icons {
  display: flex;
  flex-direction: row;
}
